body {
  padding-top: 1%;
  background-color: white;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos del header */
  align-items: center;
  height: 20px;
  padding: 1px 3%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 100px;
  width: auto;
  margin-top: 15px;
  padding: 0px 40%;
  transition: all 0.3s;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 10px 20px 0;    
  font-size: 20px;
}

.header .nav-links li:nth-child(1) {
  padding: 0 20px 0 0;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: black;
  text-decoration: none;    
}

.header .nav-links a:hover {
  text-decoration: underline;
}

.user-login {
  margin-right: 5%; /* Espacio entre el botón y el borde derecho del header */
}


.btn-search {
  display: inline-block; /* Para que los iconos se muestren en la misma línea */
}

.btn-search img {
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: -10px; /* Espacio entre los iconos */
  margin-top: 20px;
  cursor: pointer; /* Cambia el cursor al pasar por encima del icono */
}
.btn-login img:hover,
.btn-search img:hover {
  transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el ratón sobre él */
}
.content-below-header {
  position: fixed;
  margin-top: 20px;
  width: 98%;
  height: 30%; /* Ajusta la altura según tus necesidades */
  align-items: center;
  justify-content: center;
}

.background-image {
  position: fixed;
  top: 50%;
  width: 30%;
  height: 30%;
}

.blurred-container {
  position: fixed;
  top: 9%;
  right: 50%;
  width: 50%;
  height: 248%;
  background: linear-gradient(to right, white, rgba(0, 0, 255, 0) 100%);
}


/* Estilos base */
.first-line {
  margin-top: 1%; /* Ajusta el espacio entre las líneas */
  font-size: 4.2vw; /* Utiliza vw para el tamaño del texto, que se ajusta automáticamente al ancho de la ventana */
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  position: absolute; /* Mantenemos la posición absoluta */
  top: 62%; /* Ajusta la distancia desde arriba */
  right: 61%; /* Ajusta la distancia desde la derecha */
}

.second-line {
  font-size: 1.3vw; /* Utiliza vw para el tamaño del texto, que se ajusta automáticamente al ancho de la ventana */
  margin-top: 1%; /* Ajusta el espacio entre las líneas */
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  text-align: left;
  top: 135%; /* Ajusta la distancia desde arriba */
  right: 58%; /* Ajusta la distancia desde la derecha */
}

.cta-container {
  position: absolute;
  top: 62%; /* Ajusta la distancia desde arriba */
  right: 65%;
  transform: translateX(-50%); /* Centra horizontalmente el contenedor */
  z-index: 999; /* Asegura que el contenedor esté por encima de todo */
}

.cta-button {
  position: relative;
  top: 30px;
  padding: 10px 37px;
  font-size: 1vw; /* Utiliza vw para el tamaño del texto, que se ajusta automáticamente al ancho de la ventana */
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: #007BFF; /* Ajusta el color del botón según tus necesidades */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.cta-button:hover {
  background-color: #0056b3; /* Color del botón al pasar el cursor */
}

.login-container {
  position: fixed;
  top: 6%;
  left: 10%;
  justify-content: center; /* Centra los contenedores dentro del padre */
  align-items: center; /* Ahora centrará verticalmente también */
  width: auto; /* Hacer que el ancho sea automático */
  max-width: 80%; /* Establecer un ancho máximo para evitar que se expanda demasiado */
  height: auto; /* Altura automática */
  padding: 20px; /* Reduce el padding para ajustar la posición */
  gap: 20px; /* Espacio entre los contenedores */
}

@media (max-width: 768px) {
  .login-container {
    top: 5%; /* Ajusta la posición superior */
    left: 5%; /* Ajusta la posición izquierda */
    max-width: 90%; /* Reduce el ancho máximo en pantallas más pequeñas */
  }
}

.login-box {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  text-align: left;
}


.login-header h2 {
  margin-bottom: 20px;
  color: #0c0c0c;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
  text-align: left;
}

.input-group label {
  display: block;
  color: #000000;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid transparent; /* Cambia el borde del input a transparente */
  background: transparent;
  color: #000000;
  box-sizing: border-box;
  font-size: 14px;
}

.input-group .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000; /* Color de la línea subrayada */
  transform: scaleX(1.7);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.input-group input:focus + .underline {
  transform: scaleX(1);
}

.password-group {
  position: relative;
}

.password-group input {
  padding-right: 70px; /* Aumenta el padding para dar más espacio al toggle */
  font-size: 14px;
}

.toggle-password {
  position: absolute;
  right: -200px; /* Ajusta esta posición según sea necesario */
  top: 28px;
  cursor: pointer;
  user-select: none;
  color: rgb(0, 0, 0);
}

.toggle-password:hover {
  color: red;
}
.red-text {
  color: red;
}

.options-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px; /* Ajuste para espacio entre underline y options-group */
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  color: #000;
}

.checkbox-container input {
  margin-right: 10px;
}

.forgot-password {
  font-size: 14px;
  color: rgb(198, 31, 31);
  text-decoration: none;
  margin-left: 20px; /* Añadir margen izquierdo para aumentar la separación */
  font-weight:600;
}

.forgot-password:hover {
  text-decoration: underline;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(198, 31, 31); /* Cambiar el color a rojo */;
  color: #fff;
  cursor: pointer;
  width: 170%; /* Esto hace que el botón ocupe todo el ancho disponible del contenedor */
}

.button-group button:hover {
  background-color: grey;
}

.error-message {
  color: red;
  margin-top: 15px;
}

.help-text {
  margin-top: 80px; /* Ajusta el margen superior para el espacio deseado */
  font-size: 16px; /* Tamaño de fuente */
  color: rgb(83, 76, 76); /* Color del texto */
}

.help-text .help-link {
  color: rgb(198, 31, 31); /* Cambiar el color a rojo */
  font-weight:600;
}
.register-box {
  position: absolute; /* O puedes usar 'fixed' si quieres que permanezca en la misma posición al hacer scroll */
  top: 14%; /* Centra verticalmente */
  right: 20%; /* Pega el elemento al lado derecho de la pantalla */
  align-items: left;
}


.register-box h2, .register-box h3, .register-box p {
  color: rgb(83, 76, 76);
}

.register-box h2 {
  margin-bottom: 20px;
}

.register-box h3 {
  margin-bottom: 30px;
}

.register-box p {
  margin-bottom: 10px;
}

.register-box .button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(198, 31, 31);
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
}

.register-box ul li {
  margin-bottom: 20px; /* Espacio entre los elementos de la lista */
  color: #0c0c0c;
}

.register-box .button-group button:hover {
  background-color: grey;
}
.container {
  width: 800px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  height: 40px;
}

header .sign-in {
  color: #a40000;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.step {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.step-number {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 10px;
}

.optional {
  color: #888;
  font-size: 14px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="email"],
input[type="text"],
select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

button[type="button"] {
  background-color: #a40000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #870000;
}

.password-input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  width: calc(100% - 10px);
  margin-top: 5px;
  border-radius: 0;
}


.user-login {
  margin-right: 5%; /* Espacio entre el botón y el borde derecho del header */
}

.btn-login,
.btn-search {
  display: inline-block; /* Para que los iconos se muestren en la misma línea */
}

.btn-login img,
.btn-search img {
  width: 30px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: -10px; /* Espacio entre los iconos */
  cursor: pointer; /* Cambia el cursor al pasar por encima del icono */
}
.btn-login img:hover,
.btn-search img:hover {
  transform: scale(1.2); /* Aumenta el tamaño del icono al pasar el ratón sobre él */
}
.Description {
    position:  fixed;
    top: 65%;
    margin-left: 220px;
    margin-right: 220px;
    padding: 20px; /* Añade espacio interno alrededor del texto */
}

@media (max-width: 600px) {
  .Description {
    top: 30%; /* Ajusta la posición superior */
    left: 5%; /* Ajusta la posición izquierda */
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}


.filter-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: auto; /* O cualquier valor adecuado como left: 0; o left: 100%; */
  right: 0; /* Para alinear a la derecha del contenedor */
}

.filter-content label {
  display: block;
  padding: 8px 16px;
}

.filter-arrow {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
  transform: rotate(0deg); /* Inicialmente apuntando a la derecha */
  transition: transform 0.3s ease;
}

.filter-arrow.open {
  transform: rotate(90deg); /* Apuntando hacia abajo */
}

.signout-btn {
  float: right;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.signout-btn:hover {
  background-color: #d32f2f;
}

.container-img {
  position: absolute; /* Coloca el contenedor de imágenes de manera absoluta */
  top: 20%; /* Ajusta la posición superior */
  right: 100px; /* Ajusta la posición derecha */
  margin-right: 0px;
}

#images1 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 60px; /* Espacio entre las imágenes */
  max-width: 200px; /* Ancho máximo del contenedor */
}

#images1 img {
  max-width: 140%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
  height: auto; /* Mantiene la proporción de las imágenes */
}

.controls{
  position: absolute;
  left: 80px;
  top: 12%;
  text-align: left; /* Alinea el texto a la derecha */
  font-size: 22px; /* Tamaño de fuente */
  line-height: 1.1; /* Altura de línea */
  color: #333; /* Color de texto */
}

.controls strong {
  font-weight: bold; /* Hace que el texto sea negrita */
  display: block; /* Coloca cada línea en una nueva línea */
}

.controls span {
  display: block; /* Coloca cada línea en una nueva línea */
  margin-bottom: 2px; /* Espacio entre cada línea */
}


