.Partners{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logo{
    max-width: 100px;
    margin-bottom: 50px;
}

.LeaderBoard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nivelar{
    display: flex;
    justify-content: space-between;
}

.placeholder {
    width: 100px;
    height: 100px;
    background-color: #000000;
  }