body {
    font-family:'Open Sans', sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: rgb(83, 76, 76);
    font-weight: 400;
}


.login-container {
    display: flex;
    justify-content: center; /* Centra los contenedores dentro del padre */
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 30px; /* Reduce el padding para ajustar la posición */
    gap: 600px; /* Espacio entre los contenedores */
}

.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.login-header img {
    max-width: 200px;
    margin-bottom: 20px;
}

.login-header h2 {
    margin-bottom: 20px;
    color: #0c0c0c;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    text-align: left;
}

.input-group label {
    display: block;
    color: #000000;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid transparent; /* Cambia el borde del input a transparente */
    background: transparent;
    color: #000000;
    box-sizing: border-box;
    font-size: 14px;
}

.input-group .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000000; /* Color de la línea subrayada */
    transform: scaleX(1.7);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.input-group input:focus + .underline {
    transform: scaleX(1);
}

.password-group {
    position: relative;
}

.password-group input {
    padding-right: 70px; /* Aumenta el padding para dar más espacio al toggle */
    font-size: 14px;
}

.toggle-password {
    position: absolute;
    right: -200px; /* Ajusta esta posición según sea necesario */
    top: 28px;
    cursor: pointer;
    user-select: none;
    color: rgb(0, 0, 0);
}

.toggle-password:hover {
    color: red;
}
.red-text {
    color: red;
}

.options-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px; /* Ajuste para espacio entre underline y options-group */
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    color: #000;
}

.checkbox-container input {
    margin-right: 10px;
}

.forgot-password {
    font-size: 14px;
    color: rgb(198, 31, 31);
    text-decoration: none;
    margin-left: 20px; /* Añadir margen izquierdo para aumentar la separación */
    font-weight:600;
}

.forgot-password:hover {
    text-decoration: underline;
}

.button-group {
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(198, 31, 31); /* Cambiar el color a rojo */;
    color: #fff;
    cursor: pointer;
    width: 170%; /* Esto hace que el botón ocupe todo el ancho disponible del contenedor */
}

.button-group button:hover {
    background-color: grey;
}

.error-message {
    color: red;
    margin-top: 15px;
}

.help-text {
    margin-top: 80px; /* Ajusta el margen superior para el espacio deseado */
    font-size: 16px; /* Tamaño de fuente */
    color: rgb(83, 76, 76); /* Color del texto */
}

.help-text .help-link {
    color: rgb(198, 31, 31); /* Cambiar el color a rojo */
    font-weight:600;
}

.register-box {
    margin-top: 60px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    margin-left: -100px;
}

.register-box h2, .register-box h3, .register-box p {
    color: rgb(83, 76, 76);
}

.register-box h2 {
    margin-bottom: 20px;
}

.register-box h3 {
    margin-bottom: 30px;
}

.register-box p {
    margin-bottom: 10px;
}

.register-box .button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(198, 31, 31);
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
}

.register-box ul li {
    margin-bottom: 20px; /* Espacio entre los elementos de la lista */
    color: #0c0c0c;
}

.register-box .button-group button:hover {
    background-color: grey;
}

.Description {
    position: absolute;
    top: 66%;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px; /* Añade espacio interno alrededor del texto */
    background-color: white; /* Opcional: Añade un color de fondo para mayor visibilidad */
}